<canvas #canvas id="canvas"></canvas>

<div id="sidebar">

  <mat-label class="fullWidth">Position X</mat-label>
  <mat-slider class="fullWidth" value="cube.position.x" min="-2" max="3" step="0.1" (input)='updateCube($event, "position", "x")'></mat-slider>

  <mat-label class="fullWidth">Position Y</mat-label>
  <mat-slider class="fullWidth" value="cube.position.y" min="-2" max="3" step="0.1" (input)='updateCube($event, "position", "y")'></mat-slider>

  <mat-label class="fullWidth">Position Z</mat-label>
  <mat-slider class="fullWidth" value="cube.position.z" min="-200" max="300" step="10" (input)='updateCube($event, "position", "z")'></mat-slider>


  <mat-label class="fullWidth">Rotation X</mat-label>
  <mat-slider class="fullWidth" value="cube.position.x" min="-2" max="3" step="0.1" (input)='updateCube($event, "rotation", "x")'></mat-slider>

  <mat-label class="fullWidth">Rotation Y</mat-label>
  <mat-slider class="fullWidth" value="cube.rotation.y" min="-2" max="3" step="0.1" (input)='updateCube($event, "rotation", "y")'></mat-slider>

  <mat-label class="fullWidth">Rotation Z</mat-label>
  <mat-slider class="fullWidth" value="cube.rotation.z" min="-2" max="3" step="0.1" (input)='updateCube($event, "rotation", "z")'></mat-slider>


  <mat-label class="fullWidth">Scale X</mat-label>
  <mat-slider class="fullWidth" value="cube.scale.x" min="-2" max="3" step="0.1" (input)='updateCube($event, "scale", "x")'></mat-slider>

  <mat-label class="fullWidth">Scale Y</mat-label>
  <mat-slider class="fullWidth" value="cube.scale.y" min="-2" max="3" step="0.1" (input)='updateCube($event, "scale", "y")'></mat-slider>

  <mat-label class="fullWidth">Scale Z</mat-label>
  <mat-slider class="fullWidth" value="cube.scale.z" min="-2" max="3" step="0.1" (input)='updateCube($event, "scale", "z")'></mat-slider>


  <mat-form-field class="fullWidth">
    <mat-label class="fullWidth">Colour</mat-label>
    <input id="colorPicker" matInput value="cubeColour" type="color" [(ngModel)]="cubeColour" required placeholder="Placeholder">
  </mat-form-field>


  <mat-label class="fullWidth">Rotation Speed X</mat-label>
  <mat-slider class="fullWidth" value="rotationSpeedX" min="0" max="0.2" step="0.01" (input)='updateCube($event, "rotation_speed", "x")'></mat-slider>

  <mat-label class="fullWidth">Rotation Speed Y</mat-label>
  <mat-slider class="fullWidth" value="rotationSpeedY" min="0" max="0.2" step="0.01" (input)='updateCube($event, "rotation_speed", "y")'></mat-slider>

  <mat-label class="fullWidth">Play animation </mat-label>
  <mat-checkbox [(ngModel)]="playAnimation"></mat-checkbox>

</div>
